// Import Bulma's core
@import 'bulma/sass/utilities/initial-variables';
@import 'bulma/sass/utilities/functions';
@import 'bulma/sass/utilities/derived-variables';

// Set your colors
$custom-colors: (
  'primary': #333,
  'beginner': #06f,
  'basic': #fc0,
  'difficult': #f36,
  'expert': #6c0,
  'challenge': #93c
) !default;

// Setup $colors to use as bulma classes (e.g. 'is-twitter')
$colors: mergeColorMaps($colors, $custom-colors);

// Links
$link: $info;
$link-invert: $info-invert;
$link-focus-border: $info;
