// Import Bulma's core
@import "~bulma/sass/utilities/_all";

// Set your colors
$primary: #333;
$primary-invert: findColorInvert($primary);
$beginner: #06f;
$beginner-invert: findColorInvert($beginner);
$basic: #fc0;
$basic-invert: findColorInvert($basic);
$difficult: #f36;
$difficult-invert: findColorInvert($difficult);
$expert: #6c0;
$expert-invert: findColorInvert($expert);
$challenge: #93c;
$challenge-invert: findColorInvert($challenge);

// Setup $colors to use as bulma classes (e.g. 'is-twitter')
$colors: (
    "white": ($white, $black),
    "black": ($black, $white),
    "light": ($light, $light-invert),
    "dark": ($dark, $dark-invert),
    "primary": ($primary, $primary-invert),
    "info": ($info, $info-invert),
    "success": ($success, $success-invert),
    "warning": ($warning, $warning-invert),
    "danger": ($danger, $danger-invert),
    "beginner": ($beginner, $beginner-invert),
    "basic": ($basic, $basic-invert),
    "difficult": ($difficult, $difficult-invert),
    "expert": ($expert, $expert-invert),
    "challenge": ($challenge, $challenge-invert)
);

// Links
$link: $info;
$link-invert: $info-invert;
$link-focus-border: $info;

// Import Bulma and Buefy styles
@import "~bulma";
@import "~buefy/src/scss/buefy";
